.main{
    background-color: #004E98!important;
    color:white
}
.departamentos{
    height:50px;
    border-top: 2px solid #004E98;
    border-bottom: 2px solid #004E98;
}
.departamento{
    color: #004E98!important; 
    height: 100%;
}
.departamento:hover{
    background-color: #004E98;
    color: white!important;
}

#buttonHome{
    position: absolute;
    left: 830px;
   
}

#buttonWithdrawal{
    position: absolute;
    left: 990px;
       
}

#DeliveryQuestion{
    
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    color: #004E98;
    text-align: center;
    
}

#AdressQuestion{
    
    color: #004E98;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;

}

#RegistredAdress{
    bottom: 110px;
    position: absolute;
    left: 43%;
    background-color: white;
    color: black;
    padding: 50px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
}

#NewAdress{
    
    position: absolute;
    bottom: 50px;
    left: 45.5%;

}

#BackToHome{
    position: absolute;
    bottom: 45px;
    left: 5%;
}
