:root {
    --main-color: #004e98;
}

.main {
    background-color: var(--main-color);
    color: white;
}

.main-btn:hover {
    color: white;
    background-color: #014382;
}

.logo-header {
    height: 38px;
    width: 20px;
}

.departments {
    height: 50px;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.department {
    color: var(--main-color) !important;
    height: 100%;
}

.department:hover {
    background-color: var(--main-color);
    color: white !important;
}

.product {
    width: 100px;
    height: 100px;
}

.departments a {
    text-decoration: none;
}

.swiper-wrapper {
    overflow: auto;
}

.swiper-wrapper::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.swiper-wrapper {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#next-btn {
    padding-left: 65%;
}

#amount {
    padding-left: 10px;
}

.subtitle-form,
#card-title {
    color: var(--main-color);
    border-bottom: 1px solid #cccccc;
}

.product-card {
    align-items: center;
    border: none;
}

.price-tags {
    z-index: 100;
    position: absolute;
    left: 0px;
    top: 50%;
}

.price-tags .main {
    font-size: 1.25em;
}

.price-tags .off {
    font-size: 1em;
}

.product-card:hover {
    border: 3px solid var(--main-color);
}

.buttons-product-card {
    justify-content: center;
    display: inline;
}

a {
    text-decoration: none;
}

#view-purchase {
    color: #808080;
}

.star {
    font-size: 91px !important;
}

#avaliation {
    text-align: center;
}

.evaluate-purchase input[type=radio] {
    display: none;
}

.evaluate-purchase label i.fa:before {
    content: '\f005';
    color: #FC0;
}

.evaluate-purchase input[type=radio]:checked~label i.fa:before {
    color: #CCC;
}

#final-price {
    justify-content: space-around;
}

.date {
    font-size: 11px
}

.divider {
    height: 0px !important;
    background-color: blue;
}

.tracking-line {
    height: 2px !important;
    background-color: blue;
}

.dot {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.big-dot {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.big-dot i {
    font-size: 12px
}