:root {
    --main-color: #004e98;
}

.main {
    background-color: var(--main-color);
    color: white;
}
.departments {
    height: 50px;
    padding-top: 11px;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
.department {
    color: var(--main-color) !important;
    height: 100%;
}
.department:hover {
    background-color: var(--main-color);
    color: white !important;
}


#buttonHome{
    position: absolute;
    left: 830px;
   
}

#buttonWithdrawal{
    position: absolute;
    left: 990px;

}

#DeliveryQuestion{
    
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    color: #004E98;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    
}

#AdressQuestion{
    
    position: relative;
    color: #004E98;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    font-size: larger;
    font-weight: 700;
    top: 130px;
    
}

#RegistredAdress{
    bottom: 200px;
    position: absolute;
    left: 43%;
    background-color: white;
    color: black;
    padding: 50px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid black;
}

#selectAdress{
    position: relative;
    top: 15px;
}

#NewAdress{
    
    position: absolute;
    bottom: 140px;
    left: 44.5%;

}

#BackToHome{
    position: absolute;
    bottom: 45px;
    left: 5%;
}
