:root {
    --main-color: #004e98;
}

.main {
    background-color: var(--main-color);
    color: white;
}

.main-btn:hover {
    color: white;
    background-color: #014382;
}
.logo-header {
    height: 38px;
    width: 20px;
}
.departments {
    height: 50px;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
.department {
    color: var(--main-color) !important;
    height: 100%;
}
.department:hover {
    background-color: var(--main-color);
    color: white !important;
}
.product {
    width: 100px;
    height: 100px;
}
.departments a {
    text-decoration: none;
}
.swiper-wrapper {
    overflow: auto;
}

.swiper-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.swiper-wrapper {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
#next-btn {
    padding-left: 65%;
}
#amount {
    padding-left: 10px;
}
.subtitle-form {
    color: var(--main-color);
    border-bottom: 1px solid #cccccc;
}
.product-card {
    align-items: center;
    border: none;
}
.price-tags {
    z-index: 100;
    position: absolute;
    left: 0px;
    top: 50%;
}
.price-tags .main {
    font-size: 1.25em;
}
.price-tags .off {
    font-size: 1em;
}
.product-card:hover {
    border: 3px solid var(--main-color);
}
.buttons-product-card {
    justify-content: center;
    display: inline;
}
a {
    text-decoration: none;
}

.DeliveryQuestion{
    
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    color: #004E98;
    text-align: center;
    font-size: larger;
    font-weight: 700;
   
    
}
.quant{
    font-size: 20px;
    font-style: unset;
    color: #004E98
}
.productName{
    font-size: 35px;
    font-style: unset;
    color: #004E98;
}
.productPrice{
    font-size: 35px;
    font-style: unset;
    color: #004E98;
}
