:root {
    --main-color: #004e98;
}

.main {
    background-color: var(--main-color);
    color: white;
}
.departments {
    height: 50px;
    padding-top: 11px;
    border-top: 2px solid #004e98;
    border-bottom: 2px solid #004e98;
}
.department {
    color: #004e98 !important;
    height: 100%;
}
.department:hover {
    background-color: #004e98;
    color: white !important;
}
.product {
    width: 100px;
    height: 100px;
}

.container {
    width: 100%;
    max-width: 1200px;
    min-width: 200px;
}

a {
    text-decoration: none;
}
#next-btn {
    padding-left: 65%;
}
#amount {
    padding-left: 10px;
}
